.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn-create {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* .ant-table-thead th,
.ant-table-tbody td {
  text-align: center;
} */

.btn-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.btn-reset {
    border: none;
    box-shadow: none;
}

.modal .ant-modal-title {
    font-size: 20px;
  }

.p-text {
    font-size: 16px;
    font-weight: bold;
}

