.tab-memu {
    margin-right: 50px;
    background: white;
}
.tab-memu ul {
    list-style-type: none;
    padding: 0;
}
.tab-memu li a{
    font-weight: bold;
    color: #1e376d;
}

.container {
    display: flex;
    justify-content: right;
    align-items: end;
    height: 45px;
}
.container a{
    padding: 10px;
}
/* .container a:hover {
    background: #fff;
    color: #1e376d;
} */

.row-nav ul{
    display: flex;
    justify-content: end;
    list-style: none;
    margin: 10px;
    padding: 7px;
    font-size: 17px;
}
.row-nav a {
    font-family: 'Prompt', sans-serif;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
}
.row-nav a:hover {
    background-color: #fff;
    color: #1e376d;
}