.tab-memu {
    margin-right: 50px;
    background: white;
}
.tab-memu ul {
    list-style-type: none;
    padding: 0;
}
.tab-memu li a{
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    color: #1e376d;
}

.container {
    display: flex;
    justify-content: right;
    align-items: end;
}
.container a{
    padding: 10px;
}
/* .container a:hover {
    background: #fff;
    color: #1e376d;
} */
